<%- model_class = Program -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @program.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @program.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:seller) %>:</strong></dt>
  <dd><%= @program.user.name if @program.user %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              programs_path, :class => 'btn btn-default'  %>

<% if can? :update, Program %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_path(@program), :class => 'btn btn-default' %>
<% end %>
<% if can? :create, ScheduleDate %>
  <%= link_to t('.add_schedule_date', :default => t("helpers.links.add_date")),
              new_schedule_date_path(:enterprise_id => @enterprise),
              :class => 'btn btn-success' %>
<% end %>