<%- model_class = Program -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @program.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @program.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:seller) %>:</strong></dt>
  <dd><%= @program.user.name if @program.user %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              programs_path, :class => 'btn btn-default'  %>

<% if can? :update, Program %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_program_path(@program), :class => 'btn btn-default' %>
<% end %>
<% if can? :create, ScheduleDate %>
  <%= link_to t('.add_schedule_date', :default => t("helpers.links.add_date")),
              new_schedule_date_path(:program_id => @program.id),
              :class => 'btn btn-success' %>
<% end %>

<div class="page-header">
  <h3><%=t '.title', :default => "Schedule Dates" %></h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th> ID </th>
      <th>Event repeats</th>
      <th>Repeating every</th>
      <th>From time</th>
      <th>To time</th>
      <th>Repeat from date</th>
      <th>Repeat to date</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @program.schedule_dates.each do |schedule_date| %>
      <tr>
        <td><%= link_to schedule_date.id, schedule_date_path(schedule_date) %></td>
        <td><%= schedule_date.event_repeats.titleize rescue nil %></td>
        <% if schedule_date.event_repeats == "weekly" %>
          <td><%= schedule_date.repeating_every_week %></td>

        <% elsif schedule_date.event_repeats == "yearly" %>
          <td><%= [Date::MONTHNAMES[schedule_date.repeating_every_month], schedule_date.repeating_every_day].join(" ") %></td>
        <% else %>
          <td> </td>
        <% end %>
        <td><%= schedule_date.from_time.strftime("%I:%M%p") rescue nil %></td>
        <td><%= schedule_date.to_time.strftime("%I:%M%p") rescue nil %></td>
        <td><%= schedule_date.repeat_from_date %></td>
        <td><%= schedule_date.repeat_to_date %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_schedule_date_path(schedule_date), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            schedule_date_path(schedule_date, :program_id => @program.id),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('.new', :default => t("helpers.links.new")), new_schedule_date_path(:program_id => @program.id), :class => 'btn btn-primary'  %>