<% provide(:title, 'Sign up') %>
<h1>_form.html.erb</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, prompt: true) %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, placeholder: "Leave blank if unchanged" %>
  </div>
  <div class="actions">
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  </div>
<% end %>
  </div>
</div>