<%= form_for @enterprise, :html => { :class => "form-horizontal enterprise" } do |f| %>

    <% if @enterprise.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@enterprise.errors.count, "error") %> prohibited this enterprise from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @enterprise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@enterprise[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control', :cols => 10, :rows => 10 %>
    </div>
    <%= error_span(@enterprise[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :phone_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :phone_number, :class => 'form-control' %>
    </div>
    <%= error_span(@enterprise[:phone_number]) %>
  </div>
  <div class="control-group">
    <%= f.label :postal_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postal_code, :class => 'form-control' %>
    </div>
    <%= error_span(@enterprise[:postal_code]) %>
  </div>
  <div class="control-group">
    <%= f.label :region_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:enterprise, :region_id, Region.all, :id, :name, prompt: true) %>
    </div>
    <%= error_span(@enterprise[:region_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= collection_select(:enterprise, :user_id, User.all, :id, :name, prompt: true) %>
    </div>
    <%= error_span(@enterprise[:user_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            enterprises_path, :class => 'btn btn-default' %>

<% end %>
