<%- model_class = Enterprise -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @enterprise.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @enterprise.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:phone_number) %>:</strong></dt>
  <dd><%= @enterprise.phone_number.phony_formatted(:normalize => :AR, :format => :international, :spaces => '-') %></dd>
  
  <dt><strong><%= model_class.human_attribute_name(:postal_code) %>:</strong></dt>
  <dd><%= @enterprise.postal_code %></dd>

  <dt><strong><%= model_class.human_attribute_name(:region_id) %>:</strong></dt>
  <dd><%= @enterprise.region.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              enterprises_path, :class => 'btn btn-default'  %>

<% if can? :update, Enterprise %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_enterprise_path(@enterprise), :class => 'btn btn-default' %>
<% end %>
<% if can? :destroy, Enterprise %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              enterprise_path(@enterprise),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<% end %>

