<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "fullwines", root_path, id: "logo" %>
    <nav role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Faq",    faq_path %></li>

        <li><%= link_to "Schedule Dates", schedule_dates_path %>
        <% if logged_in? %>
          <% if current_user.admin? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Entities <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Users", users_path %></li>
              <li><%= link_to "Provinces", provinces_path %></li>
              <li><%= link_to "Regions", regions_path %></li>
              <li><%= link_to "Enterprises", enterprises_path %></li>
            </ul>
          </li>
          <% end %>
          <% if current_user.seller? %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Entities <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Programs", programs_path %></li>
            </ul>
          </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to('Log out', destroy_user_session_path, :method => :delete) %> 
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
            </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</header>